.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-filters {
  margin-top: 200px;
}

.gridList {
  width: 900px;
  height: 600px;
}

.imageSize {
  width: 225px;
  height: 180px;
}

.card-width {
  width: 18rem;
}
