.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.list-filters {
  margin-top: 200px;
}

.gridList {
  width: 900px;
  height: 600px;
}

.imageSize {
  width: 180px;
  height: 180px;
}